.fb-page(
	data-href="https://www.facebook.com/plavatvornica", 
	data-tabs="timeline", 
	data-height="575px", 
	data-small-header="false", 
	data-adapt-container-width="true", 
	data-hide-cover="true", 
	data-show-facepile="true"
	)
	.fb-xfbml-parse-ignore
		a(href="https://www.facebook.com/plavatvornica") Facebook
